.cmp-searchmovies {
  padding: 30px;

  .introduction-container {

    .introduction-title {
      font-weight: bold;
      font-size: 30px;
    }

    .introduction-description {
      font-size: 18px;
    }

  }

  .search-container {
    margin-top: 10px;
    margin-bottom: 10px;

    .search-field {
      border-radius: 12px;
      width: 250px;
    }

    .search-button {
      border-radius: 12px;
      margin-left: 30px;
      width: 200px;
    }
  }

  .error-container {

    .error-message {
      font-size: 18px;
    }
  }

  .results-container {
    display: flex;

    .results-properties {
      max-width: 55%;
      margin-right: 3%;

      .results-introduction {
        font-weight: bold;
        font-size: 30px;
      }

      .results-fields-description {
        font-size: 24px;
      }

      .results-field {
        font-size: 18px;
      }
    }

    .results-trailers {
      max-width: 35%;
      margin-left: 5%;

      .results-trailer {
        margin: 1%;
      }
    }
  }
}