<div class="cmp-searchmovies" data-cmp-is="searchmovies" data-sly-use.model="com.movietrailers.core.models.SearchMoviesModel">

    <div class="introduction-container">
        <h2 class="introduction-title" data-sly-test="${model.title}">${model.title}</h2>
        <p class="introduction-description" data-sly-test="${model.description}">${model.description}</p>
    </div>

    <div class="search-container">
        <form>
            <input class="search-field" type="text" id="query" name="query"/>
            <input class="search-button" type="submit" value="Search for Movies"/>
        </form>
    </div>

    <!--    Display this block in case we do not have any results to display-->
    <div class="error-container" data-sly-test="${model.emptyResults}">
        <p class="error-message" data-sly-test="${model.errorMessage}">${model.errorMessage}</p>
    </div>

    <!--    Display this block in case we do have results to display, showing the most relevant movie-->
    <div class="results-container" data-sly-test="${!model.emptyResults}">
        <div class="results-properties">
            <h3 class="results-introduction" data-sly-test="${model.resultsIntroduction}">${model.resultsIntroduction}</h3>
            <h4 class="results-fields-description" data-sly-test="${model.resultsFieldsDescription}">${model.resultsFieldsDescription}</h4>
            <p class="results-field" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.title}">${model.movieTitleLabel} ${model.mostRelevantMovie.title}</p>
            <p class="results-field" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.overview}">${model.movieOverviewLabel} ${model.mostRelevantMovie.overview}</p>
            <p class="results-field" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.language}">${model.movieLanguageLabel} ${model.mostRelevantMovie.language}</p>
            <p class="results-field" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.releaseDate}">${model.movieReleaseDateLabel} ${model.mostRelevantMovie.releaseDate}</p>
            <p class="results-field" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.rating}">${model.movieRatingLabel} ${model.mostRelevantMovie.rating}</p>
            <p class="results-field" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.ratingCount}">${model.movieRatingCountLabel} ${model.mostRelevantMovie.ratingCount}</p>
        </div>
        <div class="results-trailers" data-sly-test="${model.mostRelevantMovie && model.mostRelevantMovie.videoIds}" data-sly-list.child="${model.mostRelevantMovie.videoIds}">
            <div class="results-trailer">
                <div>
                    <iframe width="300" height="170" src="https://www.youtube.com/embed/${child}" title="YouTube trailer for my top movie results" allow="autoplay;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="share-trailer">
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D${child}&layout&size&width=89&height=20&appId" width="89" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <a href="https://twitter.com/intent/tweet?text=https://www.youtube.com/embed/${child}">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48"> <path fill="#03A9F4" d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"></path> </svg>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!--    Display this block in case we do have results to display, showing other movies-->
    <div class="others-container" data-sly-test="${!model.emptyResults}">
        <div>
            <h3 class="others-title" data-sly-test="${model.otherMoviesTitle}">${model.otherMoviesTitle}</h3>
        </div>
        <div class="others-teaser" data-sly-test="${model.otherMoviesToDisplay && model.otherMoviesToDisplay.otherMovies}" data-sly-list.movie="${model.otherMoviesToDisplay.otherMovies}">
            <div class="others-movie">
                <p class="others-title" data-sly-test="${movie.title}">${movie.title}</p>
                <p class="others-details" data-sly-test="${movie.releaseDate || movie.rating}">${movie.releaseDate} / ${movie.rating}</p>
                <p class="others-description" data-sly-test="${movie.overview}">${movie.overview}</p>
            </div>
        </div>
    </div>
</div>
